* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  height: 100vh;
  width: 300px;
  &__user-name{
    height: 100px;
    display: flex;
    align-items: center;
    &__top-items{
      height: 20px;
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__name{
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
      &__icon{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__create-group{
          color: #ffffff;
          line-height: 20px;
          margin-right: 5px;
        }
        &__edit-account{ 
          color: #ffffff;
          line-height: 20px;
        }
      }
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__chat-box{
      height: 91px;
      &__group-name{
        color: #ffffff;
        font-size: 15px;
        padding: 20px 20px 0px 20px;
      }
      &__last-message{
        color: #ffffff;
        font-size: 11px;
        padding: 5px 20px 0px 20px;
      }
    }
  }
}

.chat-main{
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  &__group-info{
    background-color: #ffffff;
    height: 100px;
    border-bottom: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__group-name{
      color: #333333;
      font-size: 20px;
      padding-left: 40px;
    }
    &__members-name{
      color: #999999;
      font-size: 12px;
      position: absolute;
      padding: 78px 0px 0px 40px;
    }
    &__edit-group{
      color: #38aef0;
      text-decoration: none;
      border-color: #38aef0;
      font-size: 16px;
      height: 40px;
      width: 72px;
      text-align: center;
      line-height: 40px;
      margin-right: 40px;
    }
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    &__message-box{
      padding-left: 40px;
      &__create-info{
        padding-top: 35px;
        display: flex;
        &__user-name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
        }
        &__create-date{
          color: #999999;
          font-size: 12px;
          margin-left: 5px;
        }
      }
      &__message{
        color: #434A54;
        font-size: 14px;
        margin-top: 12px;
        padding-bottom: 11px;
      }
    }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);
    align-items: center;
    display: flex;
    &__new-message{
      position: relative;
      &__message{
        margin-left: 40px;
        padding-left: 10px;
        height: 50px;
        width: calc(100vw - 500px);
        border: none;
      }
      &__mask{
        position: absolute;
        top: 15px;
        right: 150px;
        &__image{
          &__hidden{
            display: none;
            cursor: pointer;
          }
        }
      }
      &__submit{
        height: 50px;
        width: 100px;
        background-color: #38aef0;
        color: #ffffff;
        font-size: 16px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
  // &__message-form{
  //   background-color: #d2d2d2;
  //   height: 90px;
  //   &__post{
  //     height: 100%;
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     padding: 0px 40px;
  //     &__post-box{
  //       background-color: white;
  //       height: 50px;
  //       width: calc(100vw - 80px - 100px - 315px);
  //       display: flex;
  //       justify-content: space-between;
  //       &__form{

  //       }
  //       &__message{
  //         color: gray;
  //         width: 100%;
  //         line-height: 50px;
  //         padding-left: 10px;
  //         border: none;
  //       }
  //       &__image{
  //         line-height: 50px;
  //         padding-right: 10px;
  //         cursor: pointer;
  //         &__file{
  //           display: none;
  //         }
  //       }
  //     }
  //     &__submit{
  //       background-color: #38aef0;
  //       color: #ffffff;
  //       font-size: 16px;
  //       height: 50px;
  //       width: 100px;
  //       text-align: center;
  //       line-height: 50px;
  //       cursor: pointer;
  //     }
  //   }
  // }
}